<!doctype html>
<html ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>

        <style>

            body{
                margin: 0;
                padding: 0;
            }

            *{
                box-sizing: border-box;
            }

            .operands{
                display: flex;
                justify-content: space-between;
            }

            .operands a{
                color: white;
                background-color: #333;
                font-weight: bold;
                font-size: 42px;
                width: 48px;
                height: 48px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;                
            }

            main{
                width: 100%;
                max-width: 768px;
                margin: 0 auto;
            }

            main > div{
                padding: 0 10px;
            }

            .operation{
                font-size: 36px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100px;
            }

            .operation span:not(:last-of-type){
                margin-right: 20px;
            }

            header{
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: 40px;
                background-color: #333;
                color: white;
            }


        </style>

        <main ng-controller="matesCtrl">

            <header>
                <span>Time: {{totalTime}}</span>
                <span>Score: {{score}}</span>
            </header>

           <div>



                <div class="operation">
                    <span>{{a}}</span>
                    <span>???</span>
                    <span>{{b}}</span>
                    <span>=</span>
                    <span>{{ (operand.fn(a,b) | number:2) * 1}}</span>
                </div>

                <nav class="operands">
                    <a href ng-repeat="operand in operands" ng-click="chooseOperand(operand)">{{operand.symbol}}</a>
                </nav>


            </div>

            <div class="tuto" ng-if="!game">
                <p>Escoge el operador correcto para cada operación matemática.</p>
                <p>Resuelve el máximo número de operaciones antes de que termine el tiempo.</p>
            </div>            

        </main>


        <script src="lib/angular.js"></script>

        <script>

            angular.module('myApp', [])
            .controller('matesCtrl', function($scope, $interval){

                $scope.totalTime = 30;
                $scope.score = 0;

                $scope.operands = [
                    {
                        symbol: '+',
                        fn: function(a,b){return a + b}
                    },
                    {
                        symbol: '-',
                        fn: function(a,b){return a - b}
                    },
                    {
                        symbol: '✕',
                        fn: function(a,b){return a * b}
                    },
                    {
                        symbol: '÷',
                        fn: function(a,b){return a / b}
                    }
                ]

                $scope.start = function(){

                    $scope.game = $interval(function(){

                        $scope.totalTime--;

                        if($scope.totalTime == 0){
                            $interval.cancel($scope.game)

                            alert('Tu puntuación es: ' + $scope.score);

                            reset();
                        }

                    }, 1000);
                }

                $scope.chooseOperand = function(operand){

                    if(!$scope.game){
                        $scope.start();
                    }

                    if(operand.fn($scope.a, $scope.b) == $scope.operand.fn($scope.a, $scope.b)){
                        $scope.score++;
                    }

                    newOperation();
                }


                function newOperation(){
                    $scope.a = Math.floor((Math.random() * 20) + 1);
                    $scope.b = Math.floor((Math.random() * 20) + 1);
                    $scope.operand = $scope.operands[Math.floor(Math.random() * $scope.operands.length)];
                    
                    if($scope.operand.fn($scope.a, $scope.b) % 1 != 0){
                        newOperation() //evitar decimales pq dan pistas, sabes que será división.
                    }
                }

                newOperation()

                function reset(){
                    $scope.totalTime = 30;
                    $scope.score = 0;  
                    newOperation()                  
                }


            })



        </script>

    </body>
</html>